body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #dcdcdc;
  min-height: 300px;
}

.wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.header-background {
	background-image:url(../images/isomericHeader.jpg);
	text-align: center;
	height: 330px;
  width: 100%;
  overflow: hidden;
}

.header-items {
  position: absolute;
  margin-left: 20px;
}

#header-text {
	color: #f4f0ec;
	font-size: 1.5em;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 25px;
	text-align: center;
	cursor: default;
}

.project-container {
	padding-top: 25px;
	width: 100%;
	min-height: 250px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.project {
	position: relative;
	margin-right: 215px;
	margin-left: 5px;
	flex-basis: 10px;
	height: 250px;
}

.small-screen-title {
	display: inline-block;
	margin-left: 90px;
	width: 70px;
}

#email {
	width: 30px;
	height: 30px;
	display: inline;
	position: absolute;
	top: 5px;
	left: 10px;
	background-image:url(../images/email-icon.png);
	background-size: 30px 30px;
}

#linkedin {
	width: 30px;
	height: 30px;
	display: inline;
	position: absolute;
	top: 5px;
	left: 50px;
	border-radius: 20%;
	background-image:url(../images/linkedIn-icon.png);
	background-size: 30px 30px;
}

#github {
	width: 30px;
	height: 30px;
	display: inline;
	position: absolute;
	top: 5px;
	left: 90px;
	border-radius: 50%;
	background-image:url(../images/github-icon.png);
	background-size: 30px 30px;
}

/* ===================================== 
   Project Animation Styles
======================================== */
.side-a,
.side-b {
  height: 225px;
  width: 225px;
  border-radius: 50%;
  position: absolute;
}

.side-b {
  background-color: #5e5f60;
  opacity: 0;
  z-index: 2;
  cursor: default;
}

.side-b-h3 {
  text-align: center;
  color: #f4f0ec;
}

.side-b-p {
  padding-left: 15px;
  padding-right: 15px;
  color: #f4f0ec;
  text-align: center;
}

.side-b-a {
  margin: auto;
  display: block;
  padding: 10px;
  padding-top: 15px;
  width: 100px;
  height: 25px;
  background-color: #eaebec;
  color: darkblue;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}

a:visited{
  color: darkblue;
}

.side-a:hover {
  opacity: 0;
  transition-duration: .75s;
}

.side-b:hover {
  opacity: 1;
  transition-duration: .75s;
}

/* ===================================== 
   Image Styles
======================================== */
#blog-pic,
#github-pic,
#clp-validator-pic,
#task-tracker-pic,
#kayak-club-pic,
#interactive-form-pic,
#automatic-pagination-pic,
#web-style-guide-pic,
#wheel-of-success-pic,
#tic-tac-toe-pic,
#dashboard-application-pic,
#employee-directory-pic {
	display: block;
	width: 225px; 
	height: 225px;
}

/* ===================================== 
   Media Queries
======================================== */

@media (min-width: 1168px) {
	.project {
		margin-right: 230px;
		margin-left: 20px;
	}
}

@media (min-width: 1294px) {
	.project {
		margin-right: 245px;
		margin-left: 35px;
	}
}

@media (min-width: 1419px) {
	.project {
		margin-right: 260px;
		margin-left: 50px;
	}
}

@media (min-width: 1616px) {
	.project {
		margin-right: 275px;
		margin-left: 65px;
	}
}

@media (min-width: 1767px) {
	.project {
		margin-right: 300px;
		margin-left: 90px;
	}
}