//====================
//  Placeholders SCSS
//====================

%img {
	
}

%headline {
}

%nav {}

%link {}

%btn {
  margin-top: 20px;
  text-transform: uppercase;
}

%grid {
  display: block;
  text-align: center;

}

%theme__colors {
  font-size: 17.5px;
  display: block;
  height: 45px;  
  border-radius: 8px;
  margin-bottom: 5px;
}