//====================
//  Images SCSS
//====================

.img {
  &--avatar {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &--frame {
    display: block;
    margin-top: 35px;
    border: 1px solid lightgray;
    padding: 12px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  &--logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;   
  }
}	
	